<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aromanian Translator | AroTranslate</title>
    <meta name="description" content="AroTranslate is the first comprehensive translation system for Aromanian, an endangered Romance language. Translate between Aromanian, Romanian, and English.">
    <meta name="keywords" content="Aromanian translator, Aromanian, Romanian, Aromână, Traducător Aromână, Apridutse Armana, Armãneashti, Armãnã, AroTranslate, endangered languages, Balkan languages, online translator">
    <link rel="canonical" href="https://www.arotranslate.com">
    <meta property="og:title" content="Aromanian Translator: AroTranslate">
    <meta property="og:description" content="Translate between Aromanian, Romanian, and English with AroTranslate, the first comprehensive Aromanian translation system.">
    <meta property="og:url" content="https://www.arotranslate.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="AroTranslate: Aromanian Translation Tool">
    <meta name="twitter:description" content="Translate between Aromanian, Romanian, and English with AroTranslate, the first comprehensive Aromanian translation system.">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        footer{
            margin-top: auto;
        }

        h1 {
            font-weight: bold;
        }

        textarea {
            resize: none;
        }

        button {
            font-size: 14px;
            padding: 8px 12px;
        }

        select {
            font-size: 16px;
            padding: 10px;
        }

        .custom-select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml;utf8,<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 9l-7 7-7-7"></path></svg>') no-repeat right 10px center;
            background-color: #fff;
            background-size: 16px;
        }

        .custom-select:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        textarea, select {
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }

        .container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 767.98px) {
            .container {
                padding: 10px;
            }

            h1 {
                font-size: 1.5rem;
            }

            textarea {
                height: 100px;
            }
        }


        .textarea-container {
            position: relative;
        }

        .copy-button, .swap-button {
            position: absolute;
            bottom: 10px;
            background: none;
            border: none;
            font-size: 20px;
            color: #007bff;
            cursor: pointer;
        }

        .copy-button {
            right: 10px;
        }

        .swap-button {
            left: 10px;
        }

        .copy-button:hover, .swap-button:hover {
            color: #0056b3;
        }

        .copy-button:focus, .swap-button:focus {
            outline: none;
        }

        .form-group {
            position: relative;
        }

        .dropdown-menu {
            z-index: 1000; /* Ensure dropdown menu is on top */
        }
        .custom-heading p {
            color: #6c757d; /* Slightly grey color */
            font-weight: 510; /* Thicker font weight */
            margin-bottom: 0;
        }

        .no-style {
            color: inherit;         /* Remove default link color */
           
            text-decoration: none;  /* Remove underline */
        }
        .no-style:hover,
        .no-style:focus,
        .no-style:visited,
        .no-style:active {
            color: inherit;          /* Ensure color is inherited */
            text-decoration: none;   /* Ensure no underline */
        }
        .vintage-text {
            font-family: 'Courier New', Courier, monospace; /* Classic computer font */
            color: #808080; /* Grey color */
            font-size: 12px; /* Smaller font size */
        }

        #diacritics {
            display: none; /* Initially hide the element */
        } 
    </style>
</head>
<body style="padding-left: 15px; padding-right: 15px;">
    <header>
        <nav>
            <div class="container mt-5">
                <div class="row d-flex align-items-center">
                    <div class="col-6 text-left">
                        <a href="/" class="no-style"><h3 class="m-0"><b>AroTranslate</b></h3></a>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        
                        <div class="dropdown me-3">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                English
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item active" href="#" onclick="setLang('en')">English</a></li>
                                <li><a class="dropdown-item" href="#" onclick="setLang('rup')">Armãnã</a></li>
                                <li><a class="dropdown-item" href="#" onclick="setLang('ron')">Românǎ</a></li>
                            </ul>
                        </div>
                        <a href="/about" class="custom-heading"><p id="about-us">About Us</p></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <section class="container mt-5">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownInputLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Aromanian
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownInputLanguage">
                                <h6 class="dropdown-header" id="language-info1">Language</h6>
                                <a class="dropdown-item" href="#" id="rup-option1" data-value="rup">Aromanian</a>
                                <a class="dropdown-item" href="#" id="ron-option1" data-value="ron">Romanian</a>
                                <a class="dropdown-item" href="#" id="eng-option1" data-value="eng">English</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group textarea-container">
                        <label for="inputText" class="sr-only">Input Text</label>
                        <textarea id="inputText" class="form-control" rows="8" placeholder="Enter text here"></textarea>
                        <button id="copyInputText" class="copy-button" title="Copy">
                            <i class="fas fa-copy" aria-hidden="true"></i>
                            <span class="sr-only">Copy input text</span>
                        </button>
                    </div>
                    <button id="translate-button" class="btn btn-primary btn-sm">Translate</button>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownOutputLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Romanian
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownOutputLanguage">
                                        <h6 class="dropdown-header" id="language-info2">Language</h6>
                                        <a class="dropdown-item" href="#" id="ron-option2" data-value="ron">Romanian</a>
                                        <a class="dropdown-item" href="#" id="rup-option2" data-value="rup">Aromanian</a>
                                        <a class="dropdown-item" href="#" id="eng-option2" data-value="eng">English</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex align-items-center justify-content-end">
                            <small id="diacritics">[<a id="cunia" href="#" style="text-decoration: underline;">ã/dz/lj/nj/sh/ts</a>] / [<a id="diaro" href="#">ăâ/ḑ/ľ/ń/ș/ț</a>]</small>
                        </div>
                    </div>
                    <div class="form-group textarea-container">
                        <label for="outputText" class="sr-only">Output Text</label>
                        <textarea id="outputText" class="form-control" rows="8" placeholder="Translation will appear here" readonly></textarea>
                        <button id="copyOutputText" class="copy-button" title="Copy">
                            <i class="fas fa-copy" aria-hidden="true"></i>
                            <span class="sr-only">Copy output text</span>
                        </button>
                        <button id="swapButton" class="swap-button" title="Swap">
                            <i class="fas fa-exchange-alt" aria-hidden="true"></i>
                            <span class="sr-only">Swap languages</span>
                        </button>
                    </div>
                    <p class="vintage-text text-right" id="translate_time"></p>
                </div>
            </div>
        </section>

        <section class="container mt-5 mb-5">
            <h4 id="what-is">What is AroTranslate?</h4>
            <p style="display:inline" id="p1">AroTranslate is the first comprehensive translation system for Aromanian, a unique and endangered Romance language spoken by over 300,000 people in the Balkans. Read more in</p> <a href="/about">About Us</a>.
            <br><br>
            <h5 id="usage">Usage</h5>
            <p id="p2">You can translate between any two of Aromanian, Romanian and English in any direction. The word limit is around 1000 words, but this depends on the text's constitution. We also recommend using diacritics in the input for the best translation quality.</p>
            <p id="p3">Note that Aromanian's writing system is not standardized. All translations with Aromanian as target language are made to the Cunia (ã/dz/lj/nj/sh/ts) orthography, but you can adjust for Diaro (ăâ/ḑ/ľ/ń/ș/ț) in top-right corner. If Aromanian is selected as source language, we still recommend the usage of diacritics (Cunia or Diaro, as we convert them to something common). Lastly, translations are generally better when Aromanian is the source language, rather than the target language.</p>
            
            <small id="disclaimer">Disclaimer: Aromanian is a very low resource language with many varieties. Due to this, translation quality is experimental, and oftentimes subpar what you might except from a translation system for medium to high resource languages. There may occur translation errors, where certain information is missed or altered. Please use professional human translation services for sensitive issues that require high accuracy.</small>
        </section>
    </main>

    <footer>        
        <p style="text-align: center; color: grey;">
            Made with <span style="color: red;" aria-hidden="true">&#10084;</span><span class="sr-only">love</span>
        </p>
    </footer> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script>
        function setLang(lang) {
            let contents = {
                "ron": {
                    "translate-button": "Traduce",
                    "language-info1": "Limbă",
                    "language-info2": "Limbă",
                    "ron-option1": "Română",
                    "rup-option1": "Aromână",
                    "eng-option1": "Engleză",
                    "ron-option2": "Română", 
                    "rup-option2": "Aromână",
                    "eng-option2": "Engleză",
                    "dropdownInputLanguage": "Aromână",
                    "dropdownOutputLanguage": "Română",
                    "inputText": "Scrie text aici",
                    "outputText": "Aici va apărea traducerea",
                    "about-us": "Despre Noi",
                    "what-is": "Ce este AroTranslate?",
                    "usage": "Utilizarea",
                    "p1": "AroTranslate este primul sistem cuprinzător de traducere pentru aromână, o limbă romanică unică și pe cale de dispariție, vorbită de peste 300.000 de oameni din Balcani. Citește mai mult la",
                    "p2": "Puteți traduce între oricare două dintre aromână, română și engleză în orice direcție. Limita de cuvinte este de aproximativ 1000 de cuvinte, dar aceasta depinde de constituția textului. De asemenea, vă recomandăm să folosiți semnele diacritice în input pentru cea mai bună calitate a traducerii.",
                    "p3": "Rețineți că sistemul de scriere al aromânei nu este standardizat. Toate traducerile cu aromâna ca limbă țintă sunt făcute pe ortografia Cunia (ã/dz/lj/nj/sh/ts), dar puteți ajusta pentru Diaro (ăâ/ḑ/ľ/ń/ș/ț) în dreapta sus colţ. Dacă aromâna este selectată ca limbă sursă, recomandăm de asemenea utilizarea diacriticelor (Cunia sau Diaro, deoarece le convertim în ceva comun). În cele din urmă, traducerile sunt în general mai bune atunci când limba aromână este limba sursă, mai degrabă decât limba țintă.",
                    "disclaimer": "Disclaimer: aromâna este o limbă cu resurse foarte scăzute, cu multe varietăți. Datorită acestui fapt, calitatea traducerii este experimentală și, de multe ori, sub ceea ce v-ați aștepta de la un sistem de traducere pentru limbi cu resurse medii spre mari. Pot apărea erori de traducere, in care anumite informații sunt ratate sau modificate. Vă rugăm să utilizați servicii profesionale de traducere umană pentru probleme sensibile care necesită o precizie ridicată."
                },
                "rup": {  
                    "translate-button": "Apridutse",
                    "language-info1": "Limbã",
                    "language-info2": "Limbã",
                    "ron-option1": "Romãnã",
                    "rup-option1": "Armãnã",
                    "eng-option1": "Inglezã",
                    "ron-option2": "Romãnã", 
                    "rup-option2": "Armãnã",
                    "eng-option2": "Inglezã",
                    "dropdownInputLanguage": "Armãnã",
                    "dropdownOutputLanguage": "Romãnã",
                    "inputText": "Ascrie aua",
                    "outputText": "Apridutserea va s'iasã aoa",
                    "about-us": "Ti Noi",
                    "what-is": "Tsi easti AroTranslate?",
                    "usage": "Utilizarea",
                    "p2": "Pots s-apridutsets anamisa di itsi dauã ditu armãnã, romãnã shi englezã tru itsi directsie. Limitã di zboarã easti di aproapea 1000 di zboarã, ama aestã tsãni di constitutsiunea a textului. Tutunãoarã, recomandãm ufilisearea a diacritilor tru intrãturã trã nai ma bunã calitate di tradutsire.",
                    "p1": "AroTranslate easti protlu sistem di traditsii cuprinzãtoare trã armãnã, limbã romãnã unicã zburãtã di pisti 300.000 di oaminji ditu Balcani. Vedz la",
                    "p3": "Vedz cã sistemlu di scrieri a armãnei nu easti standardizat. Tuti apriducherile cu limba armãnã ca tsintã suntu adrati tru ortografia cunia (ãã/dz/lj/nj/sh/ts) ama pots s-agiundzã pi Diaro (ăâ/ḑ/ľ/ń/ș/ț) tru kipita di ndreapta di ndzeanã. Cara limba armãnã easti aleaptã ca limbã di izvur, nica fãtsemu urminii ti ufilisearea a diacrititslor (Cunia icã Diaro, cãt li alãximu tru tsiva di arada). Neise, tradutsiile suntu, ngheneral, ma buni cãndu armãna easti limba di izvur, andicra di limba di tsintã.",
                    "disclaimer": "Dizvãrteari: Armãnã easti unã limbã multu scãdzutã di izvuri cu multi soii. Vã placarsim sã ufilisits serviciile profesioniste di traduceri umanã trã probleme sensibile care caftã accurateatsã mare."
                },
                "en": {  
                    "translate-button": "Translate",
                    "language-info1": "Language",
                    "language-info2": "Language",
                    "ron-option1": "Romanian",
                    "rup-option1": "Aromanian",
                    "eng-option1": "English",
                    "ron-option2": "Romanian", 
                    "rup-option2": "Aromanian",
                    "eng-option2": "English",
                    "dropdownInputLanguage": "Aromanian",
                    "dropdownOutputLanguage": "Romanian",
                    "inputText": "Enter text here",
                    "outputText": "Translation will appear here",
                    "about-us": "About Us",
                    "what-is": "What is AroTranslate?",
                    "usage": "Usage",
                    "p1": "AroTranslate is the first comprehensive translation system for Aromanian, a unique and endangered Romance language spoken by over 300,000 people in the Balkans. Read more in",
                    "p2": "You can translate between any two of Aromanian, Romanian and English in any direction. The word limit is around 1000 words, but this depends on the text's constitution. We also recommend using diacritics in the input for the best translation quality. Read more in",
                    "p3": "Note that Aromanian's writing system is not standardized. All translations with Aromanian as target language are made to the Cunia (ã/dz/lj/nj/sh/ts) orthography, but you can adjust for Diaro (ăâ/ḑ/ľ/ń/ș/ț) in top-right corner. If Aromanian is selected as source language, we still recommend the usage of diacritics (Cunia or Diaro, as we convert them to something common). Lastly, translations are generally better when Aromanian is the source language, rather than the target language.",
                    "disclaimer": "Disclaimer: Aromanian is a very low resource language with many varieties. Due to this, translation quality is experimental, and oftentimes subpar what you might except from a translation system for medium to high resource languages. There may occur translation errors, where certain information is missed or altered. Please use professional human translation services for sensitive issues that require high accuracy."
                }
            }
        
            ids = ["translate-button", "language-info1", "language-info2", "ron-option1", "rup-option1", "ron-option2", "rup-option2", "dropdownInputLanguage", "dropdownOutputLanguage", "inputText", "outputText", "about-us", "eng-option1", "eng-option2", "what-is", "usage", "p1", "p2", "p3", "disclaimer"]
            for (var i = 0; i < ids.length; i++){
                if (ids[i] == "inputText" || ids[i] == "outputText"){
                    var thing = document.getElementById(ids[i])
                    thing.setAttribute('placeholder', contents[lang][ids[i]])
                }else{
                    var thing = document.getElementById(ids[i])
                    thing.textContent = contents[lang][ids[i]]
                }
            }
        }

        $(document).ready(function() {
            $('.dropdown-toggle').on('click', function() {
                var $this = $(this);
                var $dropdownMenu = $this.next('.dropdown-menu');
                
                $dropdownMenu.toggleClass('show');
                
                $(document).on('click', function(e) {
                    if (!$this.is(e.target) && $this.has(e.target).length === 0) {
                        $dropdownMenu.removeClass('show');
                    }
                });
            });

            $('.dropdown-item').on('click', function() {
                var $this = $(this);
                var $dropdownToggle = $this.closest('.dropdown').find('.dropdown-toggle');
                $dropdownToggle.text($this.text());
                $dropdownToggle.data('value', $this.data('value'));
            });
        });

        document.getElementById('copyInputText').addEventListener('click', function() {
            const inputText = document.getElementById('inputText');
            inputText.select();
            document.execCommand('copy');
        });

        document.getElementById('copyOutputText').addEventListener('click', function() {
            const outputText = document.getElementById('outputText');
            outputText.select();
            document.execCommand('copy');
        });

        function handleDropdownClick(event) {
            // Get the value from the data-value attribute of the clicked item
            const selectedLanguage = event.target.getAttribute('data-value');
            
            if (selectedLanguage == "rup") {
                document.getElementById('diacritics').style.display = 'block';
            } else {
                document.getElementById('diacritics').style.display = 'none';
            }
 
            // Perform any additional actions you need here
        }
        document.getElementById('ron-option2').addEventListener('click', handleDropdownClick);
        document.getElementById('rup-option2').addEventListener('click', handleDropdownClick);
        document.getElementById('eng-option2').addEventListener('click', handleDropdownClick);


        document.getElementById('swapButton').addEventListener('click', function() {
            var inputDropdown = document.getElementById('dropdownInputLanguage');
            var outputDropdown = document.getElementById('dropdownOutputLanguage');
            var tempText = inputDropdown.textContent;
            var tempValue = inputDropdown.getAttribute('data-value');

            inputDropdown.textContent = outputDropdown.textContent;
            inputDropdown.setAttribute('data-value', outputDropdown.getAttribute('data-value'));

            outputDropdown.textContent = tempText;
            outputDropdown.setAttribute('data-value', tempValue);

            var inputText = document.getElementById('inputText').value;
            var outputText = document.getElementById('outputText').value;

            document.getElementById('inputText').value = outputText;
            document.getElementById('outputText').value = inputText;
              
            tempText = tempText.trim()
            if (tempText === "Aromanian" | tempText === "Armãnã" | tempText === "Aromână") {
                document.getElementById('diacritics').style.display = 'block';
            } else {
                document.getElementById('diacritics').style.display = 'none';
            }
        });

        function convert_diacritics() {
            text = document.getElementById('outputText').value;
            init_graf = "diaro";

            if (document.getElementById('diaro').style.textDecoration !== "none") {
                init_graf = "cunia";
            }

            requestData = {
                text: text,
                init_graf: init_graf
            }

            fetch('/diacritics', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('outputText').value = data.text;
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('outputText').value = 'Error: Unable to convert diacritics.';
            });
        }

        document.getElementById('translate-button').addEventListener('click', function() {
            var inputText = document.getElementById('inputText').value;
            var inputLanguage = document.getElementById('dropdownInputLanguage').textContent;
            var outputLanguage = document.getElementById('dropdownOutputLanguage').textContent;

            var requestData = {
                input_text: inputText,
                input_language: inputLanguage,
                output_language: outputLanguage
            };

            document.getElementById('outputText').value = 'Translating...';

            fetch('/translate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.translated_text) {
                    document.getElementById('outputText').value = data.translated_text;
                    document.getElementById('translate_time').textContent = data.translate_time + ' s';
                    document.getElementById('translate_time').style.display = 'block'; // Ensure it is visible

                    if ((outputLanguage.trim() === "Aromanian" | outputLanguage.trim() === "Aromână" | outputLanguage.trim() === "Armãnã") & document.getElementById('diaro').style.textDecoration === "underline") {
                        convert_diacritics();
                    }

                    // Hide the element after 20 seconds
                    // setTimeout(function() {
                    //     document.getElementById('translate_time').style.display = 'none';
                    // }, 20000);
                } else {
                    console.error('Error: Translation not found.');
                    document.getElementById('outputText').value = 'Error: Translation not found.';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('outputText').value = 'Error: Unable to translate.';
            });
        });
      
        document.getElementById('diaro').addEventListener('click', function() {
            var cunia = document.getElementById('cunia');
            var diaro = document.getElementById('diaro');
            
            cunia.style.textDecoration = 'none';
            diaro.style.textDecoration = 'underline';

            convert_diacritics();
        });

        document.getElementById('cunia').addEventListener('click', function() {
            var cunia = document.getElementById('cunia');
            var diaro = document.getElementById('diaro');
            
            cunia.style.textDecoration = 'underline';
            diaro.style.textDecoration = 'none';

            convert_diacritics();
        });
    </script>
</body>
</html>