<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/bootstrap-icons.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        font-weight: bold;
        overscroll-behavior: contain;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    footer {
        margin-top: auto;
    }
    .custom-bg {
        background-color: #171719;
    }
    .custom-text-area{
        background-color: #2d2d2d !important;
    }
    .fade-out {
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }
    .custom-nav {
        background-color: #27272a;
    }
    body {
        font-weight: bold;
        overscroll-behavior: contain;
    }
    .container {
        position: relative;
    }
    .container::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        border-left: 3px solid #2d2d2d; 
    }
    .normal-text {
      font-weight: normal;
    }
    .custom-paragraph {
      color:  #b2b2b2;
    }
    .btn-no-border {
        border: none;
    }
    .card {
        width: fit-content;
        padding: 5px;
        margin-right: 10px;
    }
    .normal-text {
      font-weight: normal;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AroConnect</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="p-4 mb-2 custom-bg text-light">
    <nav class="navbar navbar-expand-lg navbar-dark custom-nav rounded">
            <h1 class="navbar-brand px-4 pt-2"><a class="nav-link" href="/">AroConnect - The Aromanian Translator</a></h1>
            <div class="collapse navbar-collapse justify-content-end px-4">
                <ul class="navbar-nav flex-grown-1 text-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
    </nav>

    <br>

    <div class="container-fluid px-4">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <p class="m-0 me-5">Language:</p>
                <div class="card custom-text-area custom-paragraph me-1">
                    <p id="from-lang" class="m-0">RON</p>
                </div>
                <div id="swap-button" class="btn btn-outline-secondary btn-no-border me-1"><i class="fa fa-exchange"></i></div>
                <div class="card custom-text-area custom-paragraph">
                    <p id="to-lang" class="m-0">RUP</p>
                </div>
                <div id="loading-spinner" class="spinner-border text-light" style="display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <br>
        <div class="row gx-5">
           <div class="col-sm">
            
           <div id="boxes-container">
                <form id="translation-form">
                    <textarea id="text_to_translate" class="box-content pb-2 form-control custom-text-area border border-0 border-white text-light" name="text_to_translate" rows="15" cols="10" style="resize: none;"></textarea>
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <input type="button" id="translate-button" value="Translate" class="btn btn-primary me-2">
                            <button type="button" id="magic" class="btn btn-outline-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                                    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                                  </svg>
                            </button> 
                        </div>

                        <div class="col-sm">
                            <div class="text-end normal-text custom-paragraph" id="wordCount1"><p>Word count: 0 / 128</p></div>
                        </div>
                        
                    </div>
                </form>
            </div>

          </div>
          <div class="col-sm">
            <div id="boxes-container">
                <textarea id="translated_text" class="box-content pb-2 form-control no-resize custom-text-area border border-0 border-white text-light" rows="15" cols="10" style="resize: none;" readonly></textarea><br>
                <div class="row">
                    <div class="col-sm">
                        <button id="copyButton" class="btn btn-secondary"><i class="bi bi-clipboard"></i></button><br>
                    </div>
                    <div class="col-sm">
                        <div class="text-end normal-text custom-paragraph" id="wordCount2">Word count: 0 / 128</div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>


    <!--<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="boxes-container">
                    <select id="from_language" class="form-select custom-text-area border border-0 border-white text-light">
                        <option value="aromanian">Aromanian</option>
                    </select>
                    <br>

                    <form id="translation-form">
                        <textarea id="text_to_translate" class="box-content pb-2 form-control no-resize custom-text-area border border-0 border-white text-light" name="text_to_translate" rows="15" cols="10"></textarea><br><br>
                        <input type="button" id="translate-button" value="Translate" class="btn btn-primary">
                    </form>

                </div>
            </div>
            <div class="col-md-6">
                <div id="boxes-container">
                    <select id="to_language" class="form-select custom-text-area border border-0 border-white text-light">
                        <option value="romanian">Romanian</option>
                        <option value="english">English</option>
                    </select>
                    <br>

                    <div id="translated_text" class="box-content pb-2 form-control no-resize custom-text-area border border-0 border-white text-light" rows="15" cols="10" style="resize: none;">
                    </div> 
                </div>
            </div>
        </div>
    </div> -->

    <script>
    $(document).ready(function() {
        var textarea1 = document.getElementById("text_to_translate");
        var wordCountDisplay1 = document.getElementById("wordCount1");

        var textarea2 = document.getElementById("translated_text");
        var wordCountDisplay2 = document.getElementById("wordCount2");

        textarea1.addEventListener("input", function() {
            var text = textarea1.value.trim();
            
            var words = text.split(/\s+/);
            
            words = words.filter(function(word) {
                return word.length > 0;
            });
            
            var wordCount = words.length;
            if (wordCount > 128){
                var element = document.querySelector("#wordCount1");
                element.classList.replace("custom-paragraph", "text-danger");
            }else{
                var element = document.querySelector("#wordCount1");
                element.classList.replace("text-danger", "custom-paragraph");
            }
            wordCountDisplay1.textContent = "Word count: " + (wordCount === 0 ? 0 : wordCount) + " / 128";
        });

        $('#translate-button').click(function() {
            $('#loading-spinner').show();
            requestData = $('#translation-form').serializeArray();
            requestData.push({name: 'from_lang', value: document.getElementById('from-lang').textContent});
            requestData.push({name: 'to_lang', value: document.getElementById('to-lang').textContent});
            // console.log(requestData);
            $.ajax({
                type: 'POST',
                url: '/translate',
                data: requestData,
                success: function(response) {
                    var to_text = document.getElementById('translated_text');
                    to_text.value = response.translated_text;
                    $('#loading-spinner').hide();

                    var words = to_text.value.split(/\s+/);
                    words = words.filter(function(word) {
                        return word.length > 0;
                    });
                    
                    var wordCount = words.length;
                    if (wordCount > 128){
                        var element = document.querySelector("#wordCount2");
                        element.classList.replace("custom-paragraph", "text-danger");
                    }else{
                        var element = document.querySelector("#wordCount2");
                        element.classList.replace("text-danger", "custom-paragraph");
                    }
                    wordCountDisplay2.textContent = "Word count: " + (wordCount === 0 ? 0 : wordCount) + " / 128";
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    $('#loading-spinner').hide();
                }
            });
        });

        $("#swap-button").click(function() {
            var from_lang = document.getElementById('from-lang').textContent;
            var to_lang = document.getElementById('to-lang').textContent;

            $('#from-lang').text(to_lang);
            $('#to-lang').text(from_lang);

            var from_text = document.getElementById('text_to_translate');
            var to_text = document.getElementById('translated_text');

            var aux = from_text.value;
            from_text.value = to_text.value;
            to_text.value = aux;
            
            aux = wordCountDisplay1.textContent;
            wordCountDisplay1.textContent = wordCountDisplay2.textContent;
            wordCountDisplay2.textContent = aux; 
            
            var words = from_text.value.split(/\s+/);
            var wordCount = words.length;
            if (wordCount > 128){
                var element = document.querySelector("#wordCount1");
                element.classList.replace("custom-paragraph", "text-danger");
            }else{
                var element = document.querySelector("#wordCount1");
                element.classList.replace("text-danger", "custom-paragraph");
            }
            wordCountDisplay1.textContent = "Word count: " + (wordCount === 0 ? 0 : wordCount) + " / 128";

            words = to_text.value.split(/\s+/);
            wordCount = words.length;
            if (wordCount > 128){
                var element = document.querySelector("#wordCount2");
                element.classList.replace("custom-paragraph", "text-danger");
            }else{
                var element = document.querySelector("#wordCount2");
                element.classList.replace("text-danger", "custom-paragraph");
            }
            wordCountDisplay2.textContent = "Word count: " + (wordCount === 0 ? 0 : wordCount) + " / 128";
        })
    });

    $("#magic").click(function(){        
        var from_lang = document.getElementById('from-lang').textContent;
        var to_lang = document.getElementById('to-lang').textContent;


        var from_text = document.getElementById('text_to_translate');

        var wordCountDisplay1 = document.getElementById("wordCount1");
        if(from_lang === 'RON'){
            var s = ["Acest neam are nevoie de poeti.",
                    "Tresarea intr-un suspin.",
                    "Se scula si-un vant nebun.",
                    "Dar ce sa fac? că ochii tăi nu caută primăvara",
                    "Nici nu vrei să-l auzi pe bunicul meu cum cântă toată seara!",
                    "Dar ce sa fac? că ochii tăi nu caută primăvara.",
                    "Nici nu vrei să-l auzi pe bunicul meu cum cântă cu fluierul!",
                    "Rece ești de când te știu, nu auzi și nici nu vorbești.",
                    "E foarte greu, și încă mai rău, primăvara se sfârșește.",
                    "Atunci a zis domnul către moise: acum ai să vezi ce am să fac lui faraon, că sub lucrarea mâinii mele celei țări el îi va lăsa și sub lucrarea brațului meu celui puternic el îi va alunga din pământul său.",
                    "Luminează-mi drumul ăsta încurcat.",
                    "Sufletu-mi pustiu, de tot mi s-a-nchis.",
                    "Că te strâng în brațe, iubito, doar în vise.",
                    "O, cât ne mai țineți?",
                    "Hei, dați-vă din cale, haide!",
                    "Dați-vă din cale, bobo, repede!",
                    "Vrem să rămânem așa cum suntem."    
                    ]
            let ind = Math.floor(Math.random() * s.length);
            from_text.value = s[ind];
            ss = s[ind].split(' ');
            var wordCount = ss.length;
            wordCountDisplay1.textContent = "Word count: " + (wordCount === 0 ? 0 : wordCount) + " / 128";
        }else{
            var s = ["Cu arâsi caldi, nji'aduts vrearea.",
                    "Io hiu, gione, dzâna tsi va s'yinâ.",
                    "Njiorjii sâ'i avinâ dit vrearea a ta.",
                    "Di câti ori, gione, a njieia nu'njiu ghini.",
                    "Vrearea a ta ca dit scutidi a njieia'nji yini.",
                    "Sh'atumtsea nu'njiu fricâ, vrute, di tsiva.",
                    "Ashteptu cu mirachi tini s'yini aua.",
                    "Inima'nji easti mplinâ di vreari curatâ.",
                    "Cu dor mari, gione, pi tini ti ashteaptâ.",
                    "Sh'atumtsea nu'njiu fricâ, vrute, di tsiva.",
                    "Ashteptu cu mirachi tini s'yini aua.",
                    "Alargu, alargu, alargu hiu feată dit tini.",
                    "Ma amintea nji armasi, suflitu feată la tini.",
                    "Ma amintea nji armasi, suflitu nji feată la tini.",
                    "Cari-i atsel cari putea s-u calca dimandaciunea shi nu-u calca? sh-putea s-adara slabintsa shi nu-adra?",
                    "Tut tsi s-da sh-tsi baneadza s-va hiba ti macari; tuti va li ded, ca shi veardea iarba.",
                    "Sh-cari tsi vrea s-afla una carti-a nomlui sh-cari tsi vrea s-tsanea di nomlu, atsel dupa dimandaciunea-a vasiljelui eara vatamat."
                    ]
            let ind = Math.floor(Math.random() * s.length);
            from_text.value = s[ind];
            ss = s[ind].split(' ');
            var wordCount = ss.length;
            console.log(wordCount);
            wordCountDisplay1.textContent = "Word count: " + (wordCount === 0 ? 0 : wordCount) + " / 128";
        }
    })

    $(document).ready(function() {
        var timeoutId;
        $('#copyButton').click(function() {
            var textarea = document.getElementById('translated_text');
            textarea.select();
            document.execCommand('copy');

            $('#copyButton').attr('class', 'btn btn-success');
            clearTimeout(timeoutId);

            timeoutId = setTimeout(function() {
                $('#copyButton').attr('class', 'btn btn-secondary');
                $('#copyButton').html('<i class="bi bi-clipboard"></i>');
            }, 1000); 
        });

        $('#copyButton').hover(function() {
            clearTimeout(timeoutId);
        }, function() {
            timeoutId = setTimeout(function() {
            }, 1000); 
        });
    });
    </script>
</body>
</html>
